<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.jiantao.mapper.UserMapper">

    <select id="getUserByAge" parameterType="int" resultType="user">
        select user_id, name, age, address from t_user
        where age = #{age}
    </select>

    <insert id="addUser" parameterType="user">
        insert into t_user (user_id,name,age,address)
        value (#{userId},#{name},#{age},#{address})
    </insert>

</mapper>