<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.jiantao.mapper.UserMapper">

    <select id="getUserByAge" resultType="user">
        select userid, name, age, address, time from t_user
        where 1=1
        <if test="name != '' and name != null">
           and name = #{name}
        </if>
    </select>

    <insert id="addUser" parameterType="user">
        insert into t_user (userid,name,age,address)
        value (#{userId},#{name},#{age},#{address})
    </insert>

</mapper>